@font-face {
  font-weight: 800;
  /* Extra bold */
  font-family: "Hero New";
  src: url("./fonts/Hero-New-ExtraBold.woff2");
}
@font-face {
  font-weight: 700;
  /* bold */
  font-family: "Hero New";
  src: url("./fonts/Hero-New-Bold-subset.woff2");
}
@font-face {
  font-weight: 400;
  /* regular / normal */
  font-family: "Hero New";
  src: url("./fonts/Hero-New-Regular-subset.woff2");
}
@font-face {
  font-weight: 400;
  /* regular / normal */
  font-family: "MTS Sans";
  src: url("./fonts/MTSSans-Regular__W.woff2");
}
::-moz-selection {
  background-color: transparent;
}
::selection {
  background-color: transparent;
}

html {
  font-family: "Hero New", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", system-ui, sans-serif;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  background: linear-gradient(68.66deg, #EBECF0 0%, #FFFFFF 100%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.pick {
  will-change: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.pick__logo {
  width: 18.3328125vw;
  margin-top: 4.55859375vw;
  margin-bottom: 5.115625vw;
}
.pick__imgs {
  width: 54.6875vw;
  height: 37.109375vw;
  position: relative;
  overflow: hidden;
}
.pick__imgs--imgA {
  position: absolute;
  top: 0.7515625vw;
  left: 7.875vw;
  width: 18.359375vw;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
  z-index: 1;
}
.pick__imgs--imgB {
  position: absolute;
  top: 10.1296875vw;
  left: 4.89296875vw;
  width: 18.359375vw;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
  z-index: 2;
}
.pick__imgs--imgD {
  position: absolute;
  top: 10.1296875vw;
  right: 4.89296875vw;
  width: 18.359375vw;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
  z-index: 2;
}
.pick__imgs--imgE {
  position: absolute;
  top: 0.7515625vw;
  right: 7.875vw;
  width: 18.359375vw;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
  z-index: 1;
}
.pick__imgs--imgSmall1 {
  width: 6.28828125vw;
  height: 6.28828125vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  position: absolute;
  top: 2.5vw;
  left: 3.28125vw;
  padding: 0.7vw;
  z-index: 6;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
          filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
}
.pick__imgs--imgSmall2 {
  width: 6.28828125vw;
  height: 6.28828125vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 10vw;
  left: 0px;
  padding: 0.7vw;
  z-index: 6;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
          filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
}
.pick__imgs--imgSmall3 {
  width: 6.28828125vw;
  height: 6.28828125vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  position: absolute;
  top: 6.953125vw;
  right: 5.11796875vw;
  padding: 0.7vw;
  z-index: 6;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
          filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
}
.pick__imgs--imgSmall4 {
  width: 6.28828125vw;
  height: 6.28828125vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 4vw;
  right: 1.60234375vw;
  padding: 0.7vw;
  z-index: 6;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
          filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
}
.pick__buttons {
  width: 54.6875vw;
  height: 7.96875vw;
  background-color: pink;
  border-radius: 4.296875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
  -webkit-transform: translateY(-4.609375vw);
          transform: translateY(-4.609375vw);
  background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
}
.pick__buttons--left {
  width: 20.9375vw;
  height: 4.375vw;
  position: relative;
  margin-left: 2.34375vw;
  margin-right: 2.34375vw;
  z-index: 8;
}
.pick__buttons--left__button {
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2.34375vw;
  font-size: 1.40625vw;
  font-weight: 400;
  /* regular / normal */
  font-family: "MTS Sans";
}
.pick__buttons--left__price {
  position: absolute;
  top: 3.90625vw;
  right: -1.71875vw;
  font-size: 3.6vw;
  font-weight: 800;
  line-height: 4.296875vw;
  color: white;
  width: 12.890625vw;
  height: 4.296875vw;
  background-color: black;
  background: linear-gradient(85.19deg, #160D37 2.65%, #1B0E64 95.88%);
  border-radius: 2.1875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
.pick__buttons--left__price--number {
  display: inline;
}
.pick__buttons--left__price--ruble {
  font-size: 2.03125vw;
  line-height: 2.03125vw;
}
.pick__buttons--img {
  position: absolute;
  bottom: 6.484375vw;
  left: 50%;
  width: 20.15625vw;
  height: 27.109375vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.4vw;
  background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%), #D9D9D9;
}
.pick__buttons--img__white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  border-radius: 1.4vw 1.4vw 0 0;
  z-index: 6;
  background-color: white;
}
.pick__buttons--imgC {
  width: 18.359375vw;
  height: 25.546875vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
  z-index: 7;
}
.pick__buttons--right {
  width: 20.9375vw;
  height: 4.375vw;
  position: relative;
  margin-left: 2.34375vw;
  margin-right: 2.34375vw;
  z-index: 8;
}
.pick__buttons--right__button {
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2.34375vw;
  font-size: 1.40625vw;
  font-weight: 400;
  /* regular / normal */
  font-family: "MTS Sans";
}
.pick__buttons--right__price {
  position: absolute;
  top: 3.90625vw;
  right: -1.71875vw;
  font-size: 3.6vw;
  font-weight: 800;
  line-height: 4.296875vw;
  color: white;
  width: 12.890625vw;
  height: 4.296875vw;
  background-color: black;
  background: linear-gradient(85.19deg, #160D37 2.65%, #1B0E64 95.88%);
  border-radius: 2.1875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
.pick__buttons--right__price--number {
  display: inline;
}
.pick__buttons--right__price--ruble {
  font-size: 2.03125vw;
  line-height: 2.03125vw;
}
.pick__logo--bottom {
  margin-top: 5.078125vw;
}

.left-card {
  width: 31.25vw;
  height: 31.25vw;
  border-radius: 0.78125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: grey;
  background: linear-gradient(231.88deg, #F0F1F5 0%, #BABECC 100%), #ECECEC;
  background-image: url("./images/grey.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 1.5625vw;
}
.left-card.active {
  width: 80vw;
}
.left-card__logo {
  width: 18.36875vw;
  margin-bottom: 1.1vw;
}
.left-card__price {
  margin-bottom: 4.6vw;
  font-size: 3.6vw;
  font-weight: 800;
  line-height: 4.296875vw;
  color: white;
  width: 12.890625vw;
  height: 4.296875vw;
  background-color: black;
  background: linear-gradient(85.19deg, #160D37 2.65%, #1B0E64 95.88%);
  border-radius: 2.1875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 2.8125vw;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
.left-card__price--number {
  display: inline;
}
.left-card__price--rubleAndMonth {
  margin-top: -1.3vw;
}
.left-card__price--ruble {
  font-size: 2.03125vw;
  line-height: 2.03125vw;
}
.left-card__price--month {
  font-size: 0.8375vw;
  font-weight: 400;
  line-height: 0.9375vw;
}
.left-card__button {
  width: 20.9375vw;
  height: 4.375vw;
  border-radius: 2.34375vw;
  margin-bottom: 3.125vw;
  background-color: pink;
  background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
  font-size: 1.40625vw;
  font-family: "MTS Sans";
  font-weight: 400;
  color: white;
  text-align: center;
}

.left {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  padding-left: 1.5625vw;
  padding-right: 1.5625vw;
}
.left-description {
  width: 57.5vw;
  height: 53.75vw;
  max-height: 99vh;
  background-color: grey;
  background: linear-gradient(231.88deg, #F0F1F5 0%, #BABECC 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.78125vw;
}
.left-description__logo {
  width: 15.7382812vw;
  margin-top: 2.34375vw;
}
.left-description__text {
  width: 44.84375vw;
  font-size: 1.40625vw;
  font-weight: 400;
  line-height: 140%;
  margin-top: 1.5625vw;
  height: 5.859375vw;
  text-align: center;
}
.left-description__30days {
  width: 16.71875vw;
  height: 3.125vw;
  line-height: 3.125vw;
  border-radius: 1.5625vw;
  text-align: center;
  vertical-align: middle;
  background-color: pink;
  background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%), #C4C4C4;
  color: white;
  font-size: 1.40625vw;
  font-weight: 400;
  margin-top: 1.09375vw;
}
.left-description__30days span {
  font-size: 1.09375vw;
}
.left-description__draggable {
  width: 100%;
  height: 28.828125vw;
  position: relative;
}
.left-description__draggable--imgA {
  width: 14.84375vw;
  height: 20.625vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  opacity: 0.05;
  position: absolute;
  top: 2.421875vw;
  left: 0.46875vw;
  z-index: 0;
  -webkit-box-shadow: -5px 0px 10px rgb(186, 190, 204);
          box-shadow: -5px 0px 10px rgb(186, 190, 204);
}
.left-description__draggable--imgB {
  width: 14.84375vw;
  height: 20.625vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  opacity: 0.05;
  position: absolute;
  top: 2.421875vw;
  left: 2.8125vw;
  z-index: 1;
  -webkit-box-shadow: -5px 0px 10px rgb(186, 190, 204);
          box-shadow: -5px 0px 10px rgb(186, 190, 204);
}
.left-description__draggable--imgC {
  width: 14.84375vw;
  height: 20.625vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  opacity: 0.05;
  position: absolute;
  top: 2.421875vw;
  left: 5.15625vw;
  z-index: 2;
  -webkit-box-shadow: -5px 0px 10px rgb(186, 190, 204);
          box-shadow: -5px 0px 10px rgb(186, 190, 204);
}
.left-description__draggable--img1 {
  width: 14.84375vw;
  height: 20.625vw;
  border-radius: 0.78125vw;
  background-color: #E4E6EC;
  position: absolute;
  top: 2.421875vw;
  left: 7.5vw;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
          filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
}
.left-description__draggable--img2 {
  width: 14.84375vw;
  height: 20.625vw;
  border-radius: 0.78125vw;
  background-color: #E4E6EC;
  position: absolute;
  top: 3.984375vw;
  left: 12.1875vw;
  z-index: 4;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
          filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
}
.left-description__draggable--img3 {
  width: 14.84375vw;
  height: 20.625vw;
  border-radius: 0.78125vw;
  background-color: #E4E6EC;
  position: absolute;
  top: 5.234375vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
          filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
}
.left-description__draggable--img4 {
  width: 14.84375vw;
  height: 20.625vw;
  border-radius: 0.78125vw;
  background-color: #E4E6EC;
  position: absolute;
  top: 3.984375vw;
  right: 12.1875vw;
  z-index: 4;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
          filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
}
.left-description__draggable--img5 {
  width: 14.84375vw;
  height: 20.625vw;
  border-radius: 0.78125vw;
  background-color: #E4E6EC;
  position: absolute;
  top: 2.421875vw;
  right: 7.5vw;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
          filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
}
.left-description__draggable--imgD {
  width: 14.84375vw;
  height: 20.625vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  opacity: 0.05;
  position: absolute;
  top: 2.421875vw;
  right: 5.15625vw;
  z-index: 2;
  -webkit-box-shadow: 5px 0px 10px rgb(186, 190, 204);
          box-shadow: 5px 0px 10px rgb(186, 190, 204);
}
.left-description__draggable--imgE {
  width: 14.84375vw;
  height: 20.625vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  opacity: 0.05;
  position: absolute;
  top: 2.421875vw;
  right: 2.8125vw;
  z-index: 1;
  -webkit-box-shadow: 5px 0px 10px rgb(186, 190, 204);
          box-shadow: 5px 0px 10px rgb(186, 190, 204);
}
.left-description__draggable--imgF {
  width: 14.84375vw;
  height: 20.625vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  opacity: 0.05;
  position: absolute;
  top: 2.421875vw;
  right: 0.46875vw;
  z-index: 0;
  -webkit-box-shadow: 5px 0px 10px rgb(186, 190, 204);
          box-shadow: 5px 0px 10px rgb(186, 190, 204);
}
.left-description__draggable--imgSmall1 {
  width: 6.28828125vw;
  height: 6.28828125vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 9.6875vw;
  padding: 1vw;
  z-index: 6;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
          filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
}
.left-description__draggable--imgSmall2 {
  width: 6.28828125vw;
  height: 6.28828125vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  position: absolute;
  top: 4.53125vw;
  right: 35.51px;
  padding: 1vw;
  z-index: 6;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
          filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
}
.left-description__draggable--imgSmall3 {
  width: 6.28828125vw;
  height: 6.28828125vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  position: absolute;
  top: 13.671875vw;
  left: 3.125vw;
  padding: 1vw;
  z-index: 6;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
          filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
}
.left-description__draggable--imgSmall4 {
  width: 6.28828125vw;
  height: 6.28828125vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 17.421875vw;
  padding: 1vw;
  z-index: 6;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
          filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
}
.left-description__draggable--imgSmall5 {
  width: 6.28828125vw;
  height: 6.28828125vw;
  border-radius: 0.78125vw;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 1.640625vw;
  right: 9.375vw;
  padding: 1vw;
  z-index: 6;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
          filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
}
.left-description__text2 {
  width: 38.28125vw;
  font-size: 1.09375vw;
  font-weight: 400;
  line-height: 140%;
  margin-top: 1.5625vw;
  text-align: center;
}
.left-description__dalee149rub {
  font-size: 1.09375vw;
  font-weight: 400;
  line-height: 140%;
  margin-top: 0.15625vw;
  margin-right: 0.78125vw;
  color: #141414;
  opacity: 0.5;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.left2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 53.75vw;
  max-height: 99vh;
}
.left2__qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37.8125vw;
  height: 40.625vw;
  background-color: #F0F1F5;
  background: linear-gradient(329.78deg, rgba(186, 190, 204, 0.3) 0%, rgba(240, 241, 245, 0.3) 100%);
  border-radius: 0.78125vw;
}
.left2__qr canvas {
  margin-bottom: 2.421875vw;
}
.left2__qr--scan {
  font-size: 2.65625vw;
  font-weight: 700;
  line-height: 140%;
  width: 31.5625vw;
}
.left2__qr--link {
  font-size: 1.40625vw;
  font-weight: 400;
  line-height: 140%;
  width: 31.5625vw;
  margin-bottom: 3.125vw;
}
.left2__return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F0F1F5;
  background: linear-gradient(329.78deg, rgba(186, 190, 204, 0.3) 0%, rgba(240, 241, 245, 0.3) 100%);
  border-radius: 0.78125vw;
  width: 37.8125vw;
  height: 11.5625vw;
}
.left2__return--back {
  font-size: 2.65625vw;
  font-weight: 700;
  line-height: 140%;
  width: 31.5625vw;
}
.left2__return--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 31.5625vw;
}
.left2__return--bottom--text {
  font-size: 1.40625vw;
  font-weight: 400;
  line-height: 140%;
  margin-right: 1.40625vw;
}
.left2__return--bottom--img {
  width: 13.2671875vw;
}

.right-card {
  width: 31.25vw;
  height: 31.25vw;
  border-radius: 0.78125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgb(48, 24, 120);
  background-image: url("./images/purple.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.right-card__logo {
  width: 22.5vw;
  margin-bottom: 0.8375vw;
}
.right-card__price {
  margin-bottom: 4.296875vw;
  font-size: 3.75vw;
  font-weight: 800;
  line-height: 4.296875vw;
  color: #202020;
  width: 12.890625vw;
  height: 4.296875vw;
  background-color: black;
  background: linear-gradient(93.71deg, #FFFFFF 0.43%, #D5D5D5 100%);
  border-radius: 2.1875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 2.8125vw;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
.right-card__price--number {
  display: inline;
}
.right-card__price--rubleAndMonth {
  margin-top: -1.3vw;
}
.right-card__price--ruble {
  font-size: 2.03125vw;
  line-height: 2.03125vw;
}
.right-card__price--month {
  font-size: 0.9375vw;
  font-weight: 400;
  line-height: 0.9375vw;
}
.right-card__button {
  width: 20.9375vw;
  height: 4.375vw;
  border-radius: 2.34375vw;
  margin-bottom: 3.125vw;
  background-color: pink;
  background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
  font-family: "MTS Sans";
  font-size: 1.40625vw;
  font-weight: 400;
  color: white;
  text-align: center;
}

.right {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  padding-left: 1.5625vw;
  padding-right: 1.5625vw;
  background: linear-gradient(231.88deg, #0F034B 0%, #050118 100%);
}
.right-description {
  width: 57.5vw;
  height: 53.75vw;
  max-height: 99vh;
  background-color: #1B0164;
  background-image: url("./images/blob3.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.78125vw;
}
.right-description__logo {
  width: 22.5vw;
  margin-top: 2.34375vw;
}
.right-description__text {
  width: 44.84375vw;
  font-size: 1.40625vw;
  font-weight: 400;
  line-height: 140%;
  margin-top: 1.5625vw;
  height: 3.90625vw;
  text-align: center;
  color: white;
}
.right-description__7days {
  width: 16.09375vw;
  height: 3.125vw;
  line-height: 3.125vw;
  border-radius: 1.5625vw;
  text-align: center;
  vertical-align: middle;
  background-color: pink;
  background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%), #C4C4C4;
  color: white;
  font-size: 1.40625vw;
  font-weight: 400;
  margin-top: 1.09375vw;
}
.right-description__7days span {
  font-size: 1.09375vw;
}
.right-description__draggable {
  width: 51.25vw;
  height: 27.165625vw;
  position: relative;
  margin-top: 2.5vw;
}
.right-description__draggable--img1 {
  width: 13.28125vw;
  height: 18.671875vw;
  border-radius: 0.78125vw;
  background-color: #E4E6EC;
  position: absolute;
  top: 1.484375vw;
  left: 0;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
          filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
}
.right-description__draggable--img2 {
  width: 13.28125vw;
  height: 18.671875vw;
  border-radius: 0.78125vw;
  background-color: #E4E6EC;
  position: absolute;
  top: 5.390625vw;
  left: 15.625vw;
  z-index: 4;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
          filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
}
.right-description__draggable--img3 {
  width: 13.28125vw;
  height: 18.671875vw;
  border-radius: 0.78125vw;
  background-color: #E4E6EC;
  position: absolute;
  top: 0;
  right: 11.25vw;
  z-index: 5;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
          filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
}
.right-description__draggable--img4 {
  width: 13.28125vw;
  height: 18.671875vw;
  border-radius: 0.78125vw;
  background-color: #E4E6EC;
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 4;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
          filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
}
.right-description__draggable--imgSmall1 {
  width: 10.0265625vw;
  position: absolute;
  top: 0;
  left: 1.640625vw;
  z-index: 6;
}
.right-description__draggable--imgSmall2 {
  width: 8.49296875vw;
  position: absolute;
  bottom: 1.53671875vw;
  left: 11.71875vw;
  z-index: 6;
}
.right-description__draggable--imgSmall3 {
  width: 11.9023438vw;
  position: absolute;
  top: 1.5625vw;
  right: 2.03125vw;
  z-index: 6;
}
.right-description__draggable--imgSmall4 {
  width: 4.8125vw;
  height: 4.2109375vw;
  border-radius: 0.78125vw;
  position: absolute;
  bottom: 0.78125vw;
  right: 14.6875vw;
  z-index: 6;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
  padding: 0.8vw;
}
.right-description__text2 {
  width: 39.921875vw;
  font-size: 1.09375vw;
  font-weight: 400;
  line-height: 140%;
  margin-top: 2.053125vw;
  text-align: center;
  color: white;
}
.right-description__dalee649rub {
  font-size: 1.09375vw;
  font-weight: 400;
  line-height: 140%;
  margin-top: 0.78125vw;
  margin-right: 0.78125vw;
  color: white;
  opacity: 0.5;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.right2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 53.75vw;
  max-height: 99vh;
}
.right2__qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37.8125vw;
  height: 40.625vw;
  background: linear-gradient(326.89deg, rgba(14, 1, 56, 0.3) 0%, rgba(27, 1, 100, 0.3) 100%), #1B0164;
  border-radius: 0.78125vw;
}
.right2__qr canvas {
  margin-bottom: 2.421875vw;
}
.right2__qr--scan {
  font-size: 2.65625vw;
  font-weight: 700;
  line-height: 140%;
  width: 31.5625vw;
  color: white;
}
.right2__qr--link {
  font-size: 1.40625vw;
  font-weight: 400;
  line-height: 140%;
  width: 31.5625vw;
  margin-bottom: 3.125vw;
  color: white;
}
.right2__return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(326.89deg, rgba(14, 1, 56, 0.3) 0%, rgba(27, 1, 100, 0.3) 100%), #1B0164;
  border-radius: 0.78125vw;
  width: 37.8125vw;
  height: 11.5625vw;
  padding-left: 3.125vw;
  padding-right: 2.96875vw;
}
.right2__return--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.right2__return--text1 {
  font-size: 2.65625vw;
  font-weight: 700;
  line-height: 140%;
  color: white;
}
.right2__return--text2 {
  font-size: 1.40625vw;
  font-weight: 400;
  line-height: 140%;
  color: white;
}
.right2__return--img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 13.2671875vw;
  margin-top: 5.546875vw;
}

.preview {
  will-change: transform;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500vw;
  height: 100vh;
  z-index: 2;
  background-color: #E5E5E5;
}
.preview .slides-container {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.preview .slides-inner {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.preview .slide {
  position: absolute;
  background-color: white;
  font-size: 90px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100vw;
}
.preview .preview-button {
  position: absolute;
  width: 22.890625vw;
  height: 4.375vw;
  bottom: 7.5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
  border-radius: 2.34375vw;
  border: 0;
  color: white;
  font-family: "MTS Sans";
  font-weight: 400;
  font-size: 1.40625vw;
  text-align: center;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  cursor: pointer;
}
.preview .slide1__video {
  width: 96.875%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
}
.preview .slide2 {
  padding: 1.5625vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preview .slide2__left {
  width: 57.5vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
}
.preview .slide2__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5vw;
  width: 37.8125vw;
  height: 100%;
}
.preview .slide2__right--top {
  width: 100%;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.preview .slide2__right--top__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
}
.preview .slide2__right--bottom {
  width: 100%;
  height: 46.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preview .slide2__right--bottom__circle {
  width: min(100%, 46.25vh);
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preview .slide2__right--bottom__circle--logo {
  width: 19.48125vw;
}
.preview .slide3 {
  padding: 0 1.5625vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preview .slide3__left {
  width: 47.65625vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
}
.preview .slide3__right {
  width: 47.65625vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
}
.preview .slide4 {
  padding: 1.5625vw 1.5625vw 0 1.5625vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preview .slide4__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5vw;
  width: 37.8125vw;
  height: 100%;
}
.preview .slide4__left--top {
  width: 100%;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.preview .slide4__left--top__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
}
.preview .slide4__left--bottom {
  width: 100%;
  height: 46.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preview .slide4__left--bottom__circle {
  width: min(100%, 46.25vh);
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preview .slide4__left--bottom__circle--logo {
  width: 19.48125vw;
}
.preview .slide4__right {
  width: 57.5vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
}
.preview .slide5 {
  padding: 1.5625vw;
}
.preview .slide5__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.78125vw;
}

.exiting,
.exited {
  display: none;
}

.display-none {
  display: none;
}