// добавить функцию открытия сайта в фуллскрин


html {
	font-family: system-ui, sans-serif;
	position: relative;
}
body {
	// width: 100vw;
	// height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
// overflow: hidden;
	position: relative;
}

.container {  
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	// width: 100vw;
	padding-left: 1.5625vw;
	padding-right: 1.5625vw;
	height: 100vh; 
	// overflow: hidden;
	position: relative;

	&__left {
		width: 47.65625vw; //610
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		
		&.active {
			width: 57.5vw; //736
		}
	}

	&__right {
		width: 47.65625vw; //610
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&.active {
			width: 37.8125vw; //484
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
}

.left-card {
	width: 31.25vw; //400px
	height: 31.25vw; //400px
	border-radius: 0.78125vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-color: grey;
	background: linear-gradient(231.88deg, #F0F1F5 0%, #BABECC 100%), #ECECEC;
	margin-right: 1.5625vw; //20px

	&.active {
		width: 80vw; //736
	}

	&__logo {
		width: 18.36875vw;
		margin-bottom: 0.8375vw; //11px
	}

	&__price {
		margin-bottom: 4.296875vw;
		font-size: 3.75vw; //48px
		font-weight: 800;
		line-height: 4.296875vw;
		color: white;
		width: 12.890625vw; //165px
		height: 4.296875vw; //55px
		background-color: black;
		background: linear-gradient(85.19deg, #160D37 2.65%, #1B0E64 95.88%);
		border-radius: 2.1875vw; //28px
		display: flex;
		justify-content: center;
		align-self: flex-end;
		margin-right: 2.8125vw;
		transform: rotate(-4deg);


		&--number {
			display: inline;
		}

		&--rubleAndMonth {
			margin-top: -1.3vw;
		}
		&--ruble {
			font-size: 2.03125vw; //26px
			line-height: 2.03125vw;
		}
		&--month {
			font-size: 0.9375vw; //12px
			font-weight: 400;
			line-height: 0.9375vw;
		}
	}

	&__button {
		width: 20.9375vw; //268px
		height: 4.375vw; // 56px
		border-radius: 0.3125vw; // 4px
		margin-bottom: 3.125vw; // 40px
		background-color:pink;
		background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
		font-size: 1.40625vw;
		font-weight: 400;
		color: white;
		text-align: center;
	}
}

.left {
	will-change: transform;
	position: absolute;
	// transform: translateX(-100vw);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
	padding-left: 1.5625vw;
	padding-right: 1.5625vw;
	
	&-description {
		width: 57.5vw; //736px
		height: 50.9375vw; //652px
		background-color: grey;
		background:  linear-gradient(231.88deg, #F0F1F5 0%, #BABECC 100%), #ECECEC;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		border-radius: 0.78125vw;

		&__group {
			will-change: transform;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			width: 49.453125vw;
			margin-bottom: 0.625vw; //8px
	
			&--title {
				will-change: transform;
				font-size: 2.65625vw;
				font-weight: 700;
				line-height: 140%;
				margin-right: 1.328125vw;
			}
	
			&--30days {
				will-change: transform;
				width: 16.5625vw;
				height: 3.125vw;
				line-height: 3.125vw;
				border-radius: 1.5625vw;
				text-align: center;
				vertical-align: middle;
				background-color: pink;
				background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%), #C4C4C4;
				color: white;
				font-size: 1.40625vw; //18px
				font-weight: 400;
				margin-right: 1.5625vw;//20px
			}
	
			&--dalee149rub {
				will-change: transform;
				font-size: 1.40625vw;
				font-weight: 400;
				line-height: 140%;
			}
		}
		&__text {
			will-change: transform;
			width: 49.453125vw;
			font-size: 1.40625vw;
			font-weight: 400;
			line-height: 140%;
			margin-bottom: 3.28125vw; //42px
		}
	}


}
.left2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__qr {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: center;
	width: 37.8125vw; //484px
	height: 37.8125vw; //484px
	background-color:#F0F1F5;
	border-radius: 0.78125vw;

		&--scan {
			font-size: 2.65625vw; //34px
			font-weight: 700;
			line-height: 140%;
			width: 31.5625vw; //404px
		}

		&--link {
			font-size: 1.40625vw; //18px
			font-weight: 400;
			line-height: 140%;
			width: 31.5625vw; //404px
			margin-bottom: 3.125vw;
		}
	}

	&__return {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #F0F1F5;
		border-radius: 0.78125vw;
		width: 37.8125vw; //484px
		height: 11.5625vw;//148
	
		&--back {
			font-size: 2.65625vw; //34px
			font-weight: 700;
			line-height: 140%;
			width: 31.5625vw; //404px
		}
	
		&--bottom {
			display: flex;
			flex-direction: row;
			width: 31.5625vw; //404px
	
			&--text {
				font-size: 1.40625vw; //18px
				font-weight: 400;
				line-height: 140%;
				margin-right: 1.40625vw;
			}
	
			&--img {
				width: 13.2671875vw;
			}
		}
	}

}

.right-card {
	width: 31.25vw; //400px
	height: 31.25vw; //400px
	border-radius: 0.78125vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-color: rgb(48, 24, 120);


	&__logo {
		width: 18.36875vw;
		margin-bottom: 0.8375vw; //11px
	}

	&__price {
		margin-bottom: 4.296875vw;
		font-size: 3.75vw; //48px
		font-weight: 800;
		line-height: 4.296875vw;
		color: white;
		width: 12.890625vw; //165px
		height: 4.296875vw; //55px
		background-color: black;
		background: linear-gradient(85.19deg, #160D37 2.65%, #1B0E64 95.88%);
		border-radius: 2.1875vw; //28px
		display: flex;
		justify-content: center;
		align-self: flex-end;
		margin-right: 2.8125vw;
		transform: rotate(-4deg);


		&--number {
			display: inline;
		}

		&--rubleAndMonth {
			margin-top: -1.3vw;
		}
		&--ruble {
			font-size: 2.03125vw; //26px
			line-height: 2.03125vw;
		}
		&--month {
			font-size: 0.9375vw; //12px
			font-weight: 400;
			line-height: 0.9375vw;
		}
	}

	&__button {
		width: 20.9375vw; //268px
		height: 4.375vw; // 56px
		border-radius: 0.3125vw; // 4px
		margin-bottom: 3.125vw; // 40px
		background-color:pink;
		background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
		font-size: 1.40625vw;
		font-weight: 400;
		color: white;
		text-align: center;
	}
}


.description {
	width: 20vw;
	height: 20vw;
	background-color:grey;
}
.instruction {
	width: 20vw;
	height: 20vw;
	background-color:grey;
}




.right {
	will-change: transform;
	position: absolute;
	// transform: translateX(100vw);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
	padding-left: 1.5625vw;
	padding-right: 1.5625vw;
	
	&-description {
		width: 57.5vw; //736px
		height: 50.9375vw; //652px
		background-color: grey;
		background:  linear-gradient(231.88deg, #F0F1F5 0%, #BABECC 100%), #ECECEC;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		border-radius: 0.78125vw;

		&__group {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			width: 49.453125vw;
			margin-bottom: 0.625vw; //8px
	
			&--title {
				font-size: 2.65625vw;
				font-weight: 700;
				line-height: 140%;
				margin-right: 1.328125vw;
			}
	
			&--30days {
				width: 16.5625vw;
				height: 3.125vw;
				line-height: 3.125vw;
				border-radius: 1.5625vw;
				text-align: center;
				vertical-align: middle;
				background-color: pink;
				background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%), #C4C4C4;
				color: white;
				font-size: 1.40625vw; //18px
				font-weight: 400;
				margin-right: 1.5625vw;//20px
			}
	
			&--dalee149rub {
				font-size: 1.40625vw;
				font-weight: 400;
				line-height: 140%;
			}
		}
		&__text {
			width: 49.453125vw;
			font-size: 1.40625vw;
			font-weight: 400;
			line-height: 140%;
			margin-bottom: 3.28125vw; //42px
		}
	}


}

.right2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__qr {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: center;
	width: 37.8125vw; //484px
	height: 37.8125vw; //484px
	background-color:#F0F1F5;
	border-radius: 0.78125vw;

		&--scan {
			font-size: 2.65625vw; //34px
			font-weight: 700;
			line-height: 140%;
			width: 31.5625vw; //404px
		}

		&--link {
			font-size: 1.40625vw; //18px
			font-weight: 400;
			line-height: 140%;
			width: 31.5625vw; //404px
			margin-bottom: 3.125vw;
		}
	}

	&__return {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #F0F1F5;
		border-radius: 0.78125vw;
		width: 37.8125vw; //484px
		height: 11.5625vw;//148
	
		&--back {
			font-size: 2.65625vw; //34px
			font-weight: 700;
			line-height: 140%;
			width: 31.5625vw; //404px
		}
	
		&--bottom {
			display: flex;
			flex-direction: row;
			width: 31.5625vw; //404px
	
			&--text {
				font-size: 1.40625vw; //18px
				font-weight: 400;
				line-height: 140%;
				margin-right: 1.40625vw;
			}
	
			&--img {
				width: 13.2671875vw;
			}
		}
	}

}


.exiting,
.exited {
	display: none;
}

.display-none {
	display: none;
}
