// добавить функцию открытия сайта в фуллскрин
@font-face {
	font-weight: 800; /* Extra bold */
	font-family: 'Hero New';
	src: url('./fonts/Hero-New-ExtraBold.woff2');
}
@font-face {
	font-weight: 700; /* bold */
	font-family: 'Hero New';
	src: url('./fonts/Hero-New-Bold-subset.woff2');
}
@font-face {
	font-weight: 400; /* regular / normal */
	font-family: 'Hero New';
	src: url('./fonts/Hero-New-Regular-subset.woff2');
}
@font-face {
	font-weight: 400; /* regular / normal */
	font-family: 'MTS Sans';
	src: url('./fonts/MTSSans-Regular__W.woff2');
}



// ::selection {
// 	background-color: transparent;
// }

html {
	font-family: 'Hero New', system-ui, sans-serif;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	background: linear-gradient(68.66deg, #EBECF0 0%, #FFFFFF 100%);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
}


.container {  
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	width: 100vw;
	padding-left: 1.5625vw;
	padding-right: 1.5625vw;
	height: 100vh;
	// overflow: hidden;
	position: relative;
}

.left-card {
	width: 31.25vw; //400px
	height: 31.25vw; //400px
	border-radius: 0.78125vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-color: grey;
	background: linear-gradient(231.88deg, #F0F1F5 0%, #BABECC 100%), #ECECEC;
	background-image: url("./images/grey.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 1.5625vw; //20px

	&.active {
		width: 80vw; //736
	}

	&__logo {
		width: 18.36875vw;
		margin-bottom: 1.1vw;
	}

	&__price {
		margin-bottom: 4.6vw;
		font-size: 3.6vw;
		font-weight: 800;
		line-height: 4.296875vw;
		color: white;
		width: 12.890625vw; //165px
		height: 4.296875vw; //55px
		background-color: black;
		background: linear-gradient(85.19deg, #160D37 2.65%, #1B0E64 95.88%);
		border-radius: 2.1875vw; //28px
		display: flex;
		justify-content: center;
		align-self: flex-end;
		margin-right: 2.8125vw;
		transform: rotate(-4deg);


		&--number {
			display: inline;
		}

		&--rubleAndMonth {
			margin-top: -1.3vw;
		}
		&--ruble {
			font-size: 2.03125vw; //26px
			line-height: 2.03125vw;
		}
		&--month {
			font-size: 0.8375vw;
			font-weight: 400;
			line-height: 0.9375vw;
		}
	}

	&__button {
		width: 20.9375vw; //268px
		height: 4.375vw; // 56px
		border-radius: 2.34375vw; // 30px
		margin-bottom: 3.125vw; // 40px
		background-color:pink;
		background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
		font-size: 1.40625vw;
		font-family: 'MTS Sans';
		font-weight: 400;
		color: white;
		text-align: center;
	}
}

.left {
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(0);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 100vh;
	padding-left: 1.5625vw;
	padding-right: 1.5625vw;

	&-description {
		width: 57.5vw; //736px
		height: 53.75vw; //688px
		max-height: 99vh;
		background-color: grey;
		background: linear-gradient(231.88deg, #F0F1F5 0%, #BABECC 100%);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-radius: 0.78125vw;

		&__logo {
			width: 15.7382812vw;
			margin-top: 2.34375vw;
		}

		&__text {
			width: 44.84375vw;
			font-size: 1.40625vw;
			font-weight: 400;
			line-height: 140%;
			margin-top: 1.5625vw; //20px
			height: 5.859375vw;
			text-align: center;
		}

		&__30days {
			width: 16.71875vw;
			height: 3.125vw;
			line-height: 3.125vw;
			border-radius: 1.5625vw;
			text-align: center;
			vertical-align: middle;
			background-color: pink;
			background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%), #C4C4C4;
			color: white;
			font-size: 1.40625vw; //18px
			font-weight: 400;
			margin-top: 1.09375vw; //14px

			span {
				font-size: 1.09375vw; //14px
			}
		}

		&__draggable {
			width: 100%;
			height: 28.828125vw;
			position: relative;

			&--imgA {
				width: 14.84375vw;
				height: 20.625vw;
				border-radius: 0.78125vw;
				background-color: #FFFFFF;
				opacity: 0.05;
				position: absolute;
				top: 2.421875vw;
				left: 0.46875vw;
				z-index: 0;
				box-shadow: -5px 0px 10px rgba(186, 190, 204, 1);
			}			
			&--imgB {
				width: 14.84375vw;
				height: 20.625vw;
				border-radius: 0.78125vw;
				background-color: #FFFFFF;
				opacity: 0.05;
				position: absolute;
				top: 2.421875vw;
				left: 2.8125vw;
				z-index: 1;
				box-shadow: -5px 0px 10px rgba(186, 190, 204, 1);
			}			
			&--imgC {
				width: 14.84375vw;
				height: 20.625vw;
				border-radius: 0.78125vw;
				background-color: #FFFFFF;
				opacity: 0.05;
				position: absolute;
				top: 2.421875vw;
				left: 5.15625vw;
				z-index: 2;
				box-shadow: -5px 0px 10px rgba(186, 190, 204, 1);
			}

			&--img1 {
				width: 14.84375vw;
				height: 20.625vw;
				border-radius: 0.78125vw;
				background-color: #E4E6EC;
				position: absolute;
				top: 2.421875vw;
				left: 7.5vw;
				z-index: 3;
				object-fit: cover;
				filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
			}			
			&--img2 {
				width: 14.84375vw;
				height: 20.625vw;
				border-radius: 0.78125vw;
				background-color: #E4E6EC;
				position: absolute;
				top: 3.984375vw;
				left: 12.1875vw; 
				z-index: 4;
				object-fit: cover;
				filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
			}			
			&--img3 {
				width: 14.84375vw;
				height: 20.625vw;
				border-radius: 0.78125vw;
				background-color: #E4E6EC;
				position: absolute;
				top: 5.234375vw;
				left: 50%; 
				transform: translateX(-50%);
				z-index: 5;
				object-fit: cover;
				filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
			}			
			&--img4 {
				width: 14.84375vw;
				height: 20.625vw;
				border-radius: 0.78125vw;
				background-color: #E4E6EC;
				position: absolute;
				top: 3.984375vw;
				right: 12.1875vw; 
				z-index: 4;
				object-fit: cover;
				filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
			}		
			&--img5 {
				width: 14.84375vw;
				height: 20.625vw;
				border-radius: 0.78125vw;
				background-color: #E4E6EC;
				position: absolute;
				top: 2.421875vw;
				right: 7.5vw; 
				z-index: 3;
				object-fit: cover;
				filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
			}	

			&--imgD {
				width: 14.84375vw;
				height: 20.625vw;
				border-radius: 0.78125vw;
				background-color: #FFFFFF;
				opacity: 0.05;
				position: absolute;
				top: 2.421875vw;
				right: 5.15625vw;
				z-index: 2;
				box-shadow: 5px 0px 10px rgba(186, 190, 204, 1);
			}			
			&--imgE {
				width: 14.84375vw;
				height: 20.625vw;
				border-radius: 0.78125vw;
				background-color: #FFFFFF;
				opacity: 0.05;
				position: absolute;
				top: 2.421875vw;
				right: 2.8125vw;
				z-index: 1;
				box-shadow: 5px 0px 10px rgba(186, 190, 204, 1);
			}			
			&--imgF {
				width: 14.84375vw;
				height: 20.625vw;
				border-radius: 0.78125vw;
				background-color: #FFFFFF;
				opacity: 0.05;
				position: absolute;
				top: 2.421875vw;
				right: 0.46875vw;
				z-index: 0;
				box-shadow: 5px 0px 10px rgba(186, 190, 204, 1);
			}

			&--imgSmall1 {
				width: 6.28828125vw;
				height: 6.28828125vw;
				border-radius: 0.78125vw;
				background-color: #FFFFFF;
				position: absolute;
				top: 0;
				left: 9.6875vw;
				padding: 1vw;
				z-index: 6;
				object-fit: contain;
				filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
			}			
			&--imgSmall2 {
				width: 6.28828125vw;
				height: 6.28828125vw;
				border-radius: 0.78125vw;
				background-color: #FFFFFF;
				position: absolute;
				top: 4.53125vw;
				right: 35.51px;
				padding: 1vw;
				z-index: 6;
				object-fit: contain;
				filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
			}			
			&--imgSmall3 {
				width: 6.28828125vw;
				height: 6.28828125vw;
				border-radius: 0.78125vw;
				background-color: #FFFFFF;
				position: absolute;
				top: 13.671875vw;
				left: 3.125vw;
				padding: 1vw;
				z-index: 6;
				object-fit: contain;
				filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
			}			
			&--imgSmall4 {
				width: 6.28828125vw;
				height: 6.28828125vw;
				border-radius: 0.78125vw;
				background-color: #FFFFFF;
				position: absolute;
				bottom: 0;
				left: 17.421875vw;
				padding: 1vw;
				z-index: 6;
				object-fit: contain;
				filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
			}			
			&--imgSmall5 {
				width: 6.28828125vw;
				height: 6.28828125vw;
				border-radius: 0.78125vw;
				background-color: #FFFFFF;
				position: absolute;
				bottom: 1.640625vw;
				right: 9.37500vw;
				padding: 1vw;
				z-index: 6;
				object-fit: contain;
				filter: drop-shadow(5px 5px 10px rgba(20, 9, 74, 0.1));
			}
		}

		&__text2 {
			width: 38.28125vw;
			font-size: 1.09375vw; //14px
			font-weight: 400;
			line-height: 140%;
			margin-top: 1.5625vw; //20px
			text-align: center;
		}

		&__dalee149rub {
			font-size: 1.09375vw;
			font-weight: 400;
			line-height: 140%;
			margin-top: 0.15625vw;
			margin-right: 0.78125vw;
			color: #141414;
			opacity: 0.5;
			align-self: flex-end;
		}

	}
	
}

.left2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 53.75vw; //688px
	max-height: 99vh;

	&__qr {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: center;
	width: 37.8125vw; //484px
	height: 40.62500vw; //520px
	background-color:#F0F1F5;
	background: linear-gradient(329.78deg, rgba(186, 190, 204, 0.3) 0%, rgba(240, 241, 245, 0.3) 100%);
	border-radius: 0.78125vw;

		canvas {
			margin-bottom: 2.421875vw;
		}

		&--scan {
			font-size: 2.65625vw; //34px
			font-weight: 700;
			line-height: 140%;
			width: 31.5625vw; //404px
		}

		&--link {
			font-size: 1.40625vw; //18px
			font-weight: 400;
			line-height: 140%;
			width: 31.5625vw; //404px
			margin-bottom: 3.125vw;
		}
	}

	&__return {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #F0F1F5;
		background: linear-gradient(329.78deg, rgba(186, 190, 204, 0.3) 0%, rgba(240, 241, 245, 0.3) 100%);
		border-radius: 0.78125vw;
		width: 37.8125vw; //484px
		height: 11.5625vw; //148

		&--back {
			font-size: 2.65625vw; //34px
			font-weight: 700;
			line-height: 140%;
			width: 31.5625vw; //404px
		}
	
		&--bottom {
			display: flex;
			flex-direction: row;
			width: 31.5625vw; //404px
	
			&--text {
				font-size: 1.40625vw; //18px
				font-weight: 400;
				line-height: 140%;
				margin-right: 1.40625vw;
			}
	
			&--img {
				width: 13.2671875vw;
			}
		}
	}

}

.right-card {
	width: 31.25vw; //400px
	height: 31.25vw; //400px
	border-radius: 0.78125vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-color: rgb(48, 24, 120);
	background-image: url("./images/purple.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


	&__logo {
		width: 22.5vw;
		margin-bottom: 0.8375vw; //11px
	}

	&__price {
		margin-bottom: 4.296875vw;
		font-size: 3.75vw; //48px
		font-weight: 800;
		line-height: 4.296875vw;
		color: #202020;
		width: 12.890625vw; //165px
		height: 4.296875vw; //55px
		background-color: black;
		background: linear-gradient(93.71deg, #FFFFFF 0.43%, #D5D5D5 100%);
		border-radius: 2.1875vw; //28px
		display: flex;
		justify-content: center;
		align-self: flex-end;
		margin-right: 2.8125vw;
		transform: rotate(-4deg);


		&--number {
			display: inline;
		}

		&--rubleAndMonth {
			margin-top: -1.3vw;
		}
		&--ruble {
			font-size: 2.03125vw; //26px
			line-height: 2.03125vw;
		}
		&--month {
			font-size: 0.9375vw; //12px
			font-weight: 400;
			line-height: 0.9375vw;
		}
	}

	&__button {
		width: 20.9375vw; //268px
		height: 4.375vw; // 56px
		border-radius: 2.34375vw; // 30px
		margin-bottom: 3.125vw; // 40px
		background-color:pink;
		background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
		font-family: 'MTS Sans';
		font-size: 1.40625vw;
		font-weight: 400;
		color: white;
		text-align: center;
	}
}

.right {
	will-change: transform;
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(0);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 100vh;
	padding-left: 1.5625vw;
	padding-right: 1.5625vw;
	background: linear-gradient(231.88deg, #0F034B 0%, #050118 100%);
	

	&-description {
		width: 57.5vw; //736px
		height: 53.75vw; //688px
		max-height: 99vh;
		background-color: #1B0164;
		// background: linear-gradient(228.85deg, #1B0164 0%, #0E0138 100%);
		background-image: url("./images/blob3.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 150% 150%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-radius: 0.78125vw;

		&__logo {
			width: 22.5vw;
			margin-top: 2.34375vw;
		}

		&__text {
			width: 44.84375vw;
			font-size: 1.40625vw;
			font-weight: 400;
			line-height: 140%;
			margin-top: 1.5625vw; //20px
			height: 3.90625vw;
			text-align: center;
			color: white;
		}

		&__7days {
			width: 16.09375vw;
			height: 3.125vw;
			line-height: 3.125vw;
			border-radius: 1.5625vw;
			text-align: center;
			vertical-align: middle;
			background-color: pink;
			background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%), #C4C4C4;
			color: white;
			font-size: 1.40625vw; //18px
			font-weight: 400;
			margin-top: 1.09375vw; //14px

			span {
				font-size: 1.09375vw; //14px
			}
		}

		&__draggable {
			width: 51.25vw;
			height: 27.165625vw;
			position: relative;
			margin-top: 2.5vw;

			&--img1 {
				width: 13.28125vw;
				height: 18.671875vw;
				border-radius: 0.78125vw;
				background-color: #E4E6EC;
				position: absolute;
				top: 1.484375vw;
				left: 0;
				z-index: 3;
				object-fit: cover;
				filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
			}			
			&--img2 {
				width: 13.28125vw;
				height: 18.671875vw;
				border-radius: 0.78125vw;
				background-color: #E4E6EC;
				position: absolute;
				top: 5.390625vw;
				left: 15.625vw; 
				z-index: 4;
				object-fit: cover;
				filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
			}			
			&--img3 {
				width: 13.28125vw;
				height: 18.671875vw;
				border-radius: 0.78125vw;
				background-color: #E4E6EC;
				position: absolute;
				top: 0;
				right: 11.25vw;
				z-index: 5;
				object-fit: cover;
				filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
			}			
			&--img4 {
				width: 13.28125vw;
				height: 18.671875vw;
				border-radius: 0.78125vw;
				background-color: #E4E6EC;
				position: absolute;
				bottom: 0px;
				right: 0; 
				z-index: 4;
				object-fit: cover;
				filter: drop-shadow(0px 0px 1.5625vw rgba(20, 9, 74, 0.3));
			}
			&--imgSmall1 {
				width: 10.0265625vw;
				position: absolute;
				top: 0;
				left: 1.640625vw;
				z-index: 6;
			}			
			&--imgSmall2 {
				width: 8.49296875vw;
				position: absolute;
				bottom: 1.53671875vw;
				left: 11.71875vw;
				z-index: 6;
			}			
			&--imgSmall3 {
				width: 11.9023438vw;
				position: absolute;
				top: 1.5625vw;
				right: 2.03125vw;
				z-index: 6;
			}			
			&--imgSmall4 {
				width: 4.8125vw;
				height: 4.2109375vw;
				border-radius: 0.78125vw;
				position: absolute;
				bottom: 0.78125vw;
				right: 14.6875vw;
				z-index: 6;
				object-fit: cover;
				background-color: white;
				padding: 0.8vw;
			}
		}

		&__text2 {
			width: 39.921875vw;
			font-size: 1.09375vw; //14px
			font-weight: 400;
			line-height: 140%;
			margin-top: 2.053125vw; //20px
			text-align: center;
			color: white;
		}

		&__dalee649rub {
			font-size: 1.09375vw;
			font-weight: 400;
			line-height: 140%;
			margin-top: 0.78125vw;
			margin-right: 0.78125vw;
			color: white;
			opacity: 0.5;
			align-self: flex-end;
		}

	}
}

.right2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 53.75vw;
	max-height: 99vh;

	&__qr {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: center;
	width: 37.8125vw; //484px
	height: 40.625vw; //484px
	background: linear-gradient(326.89deg, rgba(14, 1, 56, 0.3) 0%, rgba(27, 1, 100, 0.3) 100%), #1B0164;
	border-radius: 0.78125vw;

		canvas {
			margin-bottom: 2.421875vw;
		}

		&--scan {
			font-size: 2.65625vw; //34px
			font-weight: 700;
			line-height: 140%;
			width: 31.5625vw; //404px
			color: white;
		}

		&--link {
			font-size: 1.40625vw; //18px
			font-weight: 400;
			line-height: 140%;
			width: 31.5625vw; //404px
			margin-bottom: 3.125vw;
			color: white;
		}
	}

	&__return {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background: linear-gradient(326.89deg, rgba(14, 1, 56, 0.3) 0%, rgba(27, 1, 100, 0.3) 100%), #1B0164;
		border-radius: 0.78125vw;
		width: 37.8125vw; //484px
		height: 11.5625vw;//148
		padding-left: 3.125vw;
		padding-right: 2.96875vw;
	

	
		&--text {
			display: flex;
			flex-direction: column;

			&1 {
				font-size: 2.65625vw; //34px
				font-weight: 700;
				line-height: 140%;
				color: white;
			}
			&2 {
				font-size: 1.40625vw; //18px
				font-weight: 400;
				line-height: 140%;
				color: white;
			}
		}		
		
		&--img {
			align-self: flex-start;
			width: 13.2671875vw;
			margin-top: 5.546875vw;
		}
	}

}


.preview {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	background-color: #E5E5E5;

	&__video {
		filter: brightness(0.7);
		position: absolute;
		margin: auto;
		width: 91.09375vw;
		// height: 52.8125vw;
		max-height: 90vh;
		border-radius: 0.78125vw;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		z-index: 3;
		// margin-top: 25.15625vw;
		height: 41.87500vw;

		&--logo {
			width: 28.59375vw;
			margin-bottom: 3.203125vw;
		}
		&--h2 {
			font-size: 1.5625vw;
			font-weight: 700;
			width: 66.40625vw;
			color: white;
			margin-bottom: 5.46875vw;
			text-align: center;
		}
		&--button {
			width: 22vw;
			height: 4.37500vw;
			font-family: 'MTS Sans';
			font-size: 1.40625vw;
			font-weight: 400;
			background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
			text-align: center;
			color: white;
			border-radius: 2.34375vw;
		}
	}
}

.exiting,
.exited {
	display: none;
}

.display-none {
	display: none;
}
