html {
	font-family: system-ui, sans-serif;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(34, 34, 34);
}



.container {  
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	width: 80vw;
	height: 30vw;
	margin: 0 auto;
  }


.button {
	user-select: none;
	width: 20vw;
	height: 10vw;
	border-radius: 2vw;
	background-color: white;
	text-align: center;
}
#shuffle-button {
	width: 2vw;
	height: 2vw;
	border-radius: 2vw;
	background-color: rgb(40, 40, 40);
	text-align: center;
	color: black;
}
  
  .box {
	margin: 10px;
	user-select: none;
	width: 150px;
	height: 150px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(163, 21, 130);
	font-weight: 600;
	color: white;
	background-image: url('./Penguins0.webp');
  }
  
  .exiting,
  .exited {
	display: none;
  }
  


.display-none {
	display: none;
}
.qr {
	background-color: darkgrey;
}

